body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#Title,
.Subtitle,
.Post_Title {
    color: #505050;
    ;
}

#Title {
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: underline;
    color: #505050;
}
.Post_Title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 20px;

}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;

}

.contacts_list{
    list-style-type: square;
    padding-left: 15px;
}